<main>
    <div class="monthView_container">
        <div id="monthView_header">
            <button>PREV</button>
            <div>
                <h2 id="currentDate_month">April</h2>
                <h3 id="currentDate_full">Monday - April 26 - 2021</h3>
            </div>
            <button>NEXT</button>
        </div>
        <div id="monthView_dayLabels">
            <h3>Monday</h3>
            <h3>Tuesday</h3>
            <h3>Wednesday</h3>
            <h3>Thursday</h3>
            <h3>Friday</h3>
            <h3>Saturday</h3>
            <h3>Sunday</h3>
        </div>
        <div id="monthView_dayGrid">
        </div>
    </div>
</main>
