<header>
    <button>Menu</button>
    <div id="header_viewControl">
        <button> <= </button>
        <h3 id="header_viewControl_current">{{calendarInfo.currentWeek}}</h3>
        <button> => </button>
    </div>
    <div id="header_modeControl">
        <h4 class="header_modeControl_option">Week</h4>
        <h4 class="header_modeControl_option">Month</h4>
        <h4 class="header_modeControl_option">Year</h4>
    </div>
</header>
