$border-radius-small: 5px;
$border-radius-large: 10px;

$calendar-cell-width: 10rem;
$calendar-cell-height: 7rem;
$calendar-cell-gap: 1.1rem;
$calendar-column-spacing: 0.5rem;
$calendar-row-spacing: 1.5rem;

@mixin center-container($width, $height, $yOffset) {
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: $width;
    height: $height;
    transform: translateY($yOffset);
}

@mixin side-menu($yOffset, $maxWidth, $transition) {
    position: fixed; 
    top: $yOffset;
    transition: $transition;
    &.open {
        width: $maxWidth;
        transition: $transition;
    }
    &.closed {
        width: 0;
        padding: 0;
        transition: $transition;
    }
    * {
        overflow: hidden;
        white-space: nowrap;
    }
}
