$fg-color-normal: #E9EFE1;
$fg-color-tinted: #D5EBDF;
$bg-color-normal: #434B52;
$bg-color-lighter: #535B61;
$bg-color-darker: #33383D;
$bg-color-tinted: #516469;
//$accent-color-primary: #A64F3D;
$accent-color-primary: #9bb888;
$accent-color-secondary: #F8ECBC;

