@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

$title-font: "Girassol";
$content-font: "Ubuntu Condensed";
$ui-font: "Oswald";

$text-padding-small: 0.4rem;
$text-padding-large: 0.6rem;
