#monthView_header {
    width: 100vw;
    margin-top: 0;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h2, h3 {
        text-align: center;
    }
    * {
        margin: 0 1rem;
    }
    border-bottom: 2px solid $accent-color-primary;
    background-color: $bg-color-normal;
}
#monthView_dayLabels {
    margin-top: auto;
    margin-bottom: 0.2rem;
    display: grid;
    grid-template-columns: repeat(7, $calendar-cell-width);
    gap: $calendar-column-spacing;
    h3 {
        font-family: $title-font;
        text-align: center;
        font-size: 1.5rem;
        color: $fg-color-normal;
        @include apply-text-shadow(black, $opacity-high, 4px);
    }
    background-color: rgba($bg-color-black, 0.8);
    border-radius: $border-radius-large;
}

#monthView_dayGrid {
    display: grid;
    grid-template-columns: repeat(7, $calendar-cell-width);
    grid-template-rows: repeat(5, $calendar-cell-height);
    gap: $calendar-row-spacing $calendar-column-spacing;
    background-color: rgba($bg-color-black, 0.8);
    @include apply-box-shadow(black, 0.8, 4px);
    border-radius: $border-radius-large;
    padding: 0.7rem;
    margin-top: auto;
    margin-bottom: auto;
}

.monthView_day {
    border: 1px solid $fg-color-normal;
    border-radius: $border-radius-small;
    background-color: $bg-color-lighter;
    overflow-y: hidden;
    min-height: 8rem;
    &.previous {
        background: rgba($bg-color-darker, $opacity-low);
    }
    &.current {
        background: rgba($bg-color-lighter, $opacity-medium);
    }
    &.next {
        background: rgba($bg-color-darker, $opacity-low);
    }
    &.today {
        border: 1px dashed $accent-color-secondary;
        @include apply-box-shadow($accent-color-secondary, $opacity-medium, 10px);
    }
    transition: 0.07s;
    &:hover {
        border: 1px solid $accent-color-primary;
        @include apply-box-shadow($accent-color-primary, $opacity-high, 10px);
        transform: scale(1.03);
        transition: 0.07s;
    }
}

.day_date_number {
    font-family: $ui-font;
    color: $fg-color-normal;
    text-align: left;
    width: 15%;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
}

#currentDate_month {
    font-family: $title-font;
    font-size: 1.5rem;
    color: $fg-color-normal;
}

#currentDate_full {
    font-family: $ui-font;
    font-size: 1.3rem;
    color: $fg-color-normal;
}
