.event_preview {
    pointer-events: none;
}

.event_preview_name {
    border-radius: $border-radius-small;
    color: $fg-color-normal;
    text-shadow: 0.1rem 0.1rem 0px rgba($bg-color-black, $opacity-medium);
    font-family: $content-font;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    &.event_type_event {
        background-color: $event-color-event;
    }
    &.event_type_task {
        background-color: $event-color-task;
    }
    &.event_type_reminder {
        background-color: $event-color-reminder;
    }
    &.event_type_default {
        background-color: $event-color-default;
    }
}

.schedule_event {
    border-radius: $border-radius-large;
    padding: 0.6rem;
    margin: 0.3rem;
    @include apply-box-shadow($bg-color-black, $opacity-medium, 0.4rem);

    .schedule_event_header {
        margin: 0.2rem 0;
        display: grid;
        grid-template-columns: 3fr 1fr;
        .event_header_time {
            font-family: $ui-font;
            color: $fg-color-normal;
            text-align: left;
        }
        .event_header_xp_value {
            background-color: $bg-color-normal;
            border-radius: $border-radius-small;
            font-family: $ui-font;
            color: $fg-color-normal;
            text-align: center;
            span {
                color: $accent-color-secondary;
            }
        }
    }

    .schedule_event_main {
        margin: 0.2rem 0;
        display: grid;
        grid-template-columns: 3fr 1fr;
        .schedule_event_name {
            font-family: $ui-font;
            color: $fg-color-normal;
        }
        .event_main_checkbox {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            margin: auto;
            border-radius: $border-radius-large;
            border: 2px solid $accent-color-secondary;
            transition: 0.1s;
            &:hover {
                transform: scale(1.1);
                border-color: $fg-color-normal;
                transition: 0.1s;
            }
            &.checked {
                background-color: $accent-color-primary;
                transition: 0.1s;
            }
            &.unchecked {
                background-color: $bg-color-normal;
                transition: 0.1s;
            }
        }
    }
    p {
        font-family: $content-font;
        color: $fg-color-normal;
    }
    &.event_type_event {
        background-color: $event-color-event;
    }
    &.event_type_task {
        background-color: $event-color-task;
    }
    &.event_type_reminder {
        background-color: $event-color-reminder;
    }
    &.event_type_default {
        background-color: $event-color-default;
    }
}
