footer {
    position: fixed;
    bottom: 0;
    width: 100vw; 
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border-top: 2px solid $accent-color-primary; 
    background-color: $bg-color-normal;
}
