footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100vw; 
    height: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 6fr 2fr;
    align-items: center;

    border-top: 2px solid $accent-color-primary; 
    background-color: $bg-color-normal;

    #footer_trackLevel {
        text-align: center;
        font-family: $title-font;
        color: $accent-color-secondary;
    }

    #footer_trackIcon {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $bg-color-darker;
        border: 1px solid $accent-color-secondary;
        border-radius: 50%;
    }

    #footer_progressBar {
        height: 2.5rem; 
        background-color: $bg-color-darker;
        border: 1px solid $accent-color-secondary;
        border-radius: $border-radius-large;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0.7rem;
    }

    #progressBar_fill {
        background-color: $accent-color-secondary;
        height: 70%;
        width: 0%;
    }

    #footer_xpDisplay {
        font-family: $title-font;
        text-align: center;
        color: $accent-color-secondary;
    }
}
